@use '../utils/utils.scss' as utils;

.footer {
    background-color: utils.$secondary-color;
    color: utils.$primary-color;
    padding: 20px 0;

    &__text {
        text-align: center;
        font-size: 18px;
    }

    @media screen and (max-width: 576px) {
        &__text {
            font-size: 15px;
        }
    }
}