@use '../utils/utils.scss' as utils;

.header {
    background-color: utils.$secondary-color;
    color: utils.$primary-color;
    padding: 20px 0;
    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;

        a {
            color: utils.$primary-color;
            font-weight: bold;
            font-size: 20px;
        }

        
    }
    &__menu {
        display: flex;
        gap: 20px;
    }
}