@use '../utils/utils.scss' as utils;

.header {
    background-color: utils.$secondary-color;
    color: utils.$primary-color;
    padding: 20px 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;

    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;

        a {
            color: utils.$primary-color;
            font-weight: bold;
            font-size: 20px;
        }

    }

    &__menu {
        display: flex;
        gap: 20px;
    }

    &__toggle {
        display: none;
        cursor: pointer;
        background-color: utils.$secondary-color;
        color: utils.$primary-color;
        border: none;
        font-size: 20px;
    }

    @media screen and (max-width: 576px) {
        &__menu {
            display: none;
        }

        &__toggle {
            display: block;
        }
    }
}